.programacao {
  padding: 0 1rem;

  .sectionTitle {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 24px;
    font-family: Poppins;
  }

  .events {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .eventCard {
      display: flex;
      flex-direction: column;
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 10px;
      position: relative;
      overflow: hidden;

      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      .dateDotLine {
        display: flex;
        align-items: center;
        gap: 5px;

        .selectButton {
          width: 20px;
          height: 20px;
          background-color: #08738a;
          border: none;
          border-radius: 50%;
          cursor: pointer;
        }

        .eventDate {
          margin: 0;
          font-size: 12px;
          color: #999;
        }
      }

      .eventImage {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
        margin-top: 10px;
      }

      .eventDetails {
        margin-top: 10px;

        .eventTitle {
          font-size: 16px;
          margin: 0 0 5px;
          font-family: Poppins;
          color: #08738a;
          font-weight: 500;
        }

        .eventCategory {
          font-size: 14px;
          color: #999;
          margin: 0 0 10px;
        }

        .eventTimeContainer {
          display: flex;
          align-items: center;

          .icon {
            margin-right: 5px;
            color: #08738a;
          }

          .eventTime {
            margin: 0;
            font-size: 14px;
          }
        }
      }
    }
  }
}
